*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #212121;
}
.wrapper{
    width: 80vw;
    
    position:absolute;
    transform: translate(-50%,-50%);
    height: 50vh;
    top: 50%;
    left: 50%;
    display: flex;
    gap: 20px;
}
.container{
    width: 25%;
    border: solid 2px rgb(252, 251, 251);
    display:  flex;
    justify-content: center;
    align-items: center;

}
span.num{
    font-size: xx-large;
    color: aliceblue;
    font-weight: bolder;
}